/rlcard/__pycache__
/aipython/__pycache__
/Ontologia/__pycache__
/Player/__pycache__
/rlcard/agents/__pycache__
/rlcard/agents/human_agents/__pycache__
/rlcard/envs/__pycache__
/rlcard/games/__pycache__
/rlcard/games/blackjack/__pycache__
/rlcard/games/bridge/__pycache__
/rlcard/games/bridge/utils/__pycache__
/rlcard/games/burraco/__pycache__
/rlcard/games/leducholdem/__pycache__
/rlcard/games/limitholdem/__pycache__
/rlcard/games/mahjong/__pycache__
/rlcard/games/nolimitholdem/__pycache__
/rlcard/games/uno/__pycache__
/rlcard/utils/__pycache__
/Utils/__pycache__
/rlcard.egg-info
/rlcard.egg-info
/Ontologia/__pycache__
/Player/__pycache__
/Player/__pycache__
/Ontologia/__pycache__
/Player/__pycache__
/.venv312/Lib
/.venv312
/Ontologia/BK
/logs
